.Encabesado {
    max-width: 100%;
    background-color: #b5121b;
    color: white;

    
}
.texto{
    text-decoration: none;

}

.Viñeta {
    background-position: left;
    width: 250px;  height: 50px;

}
.centrar{
    background-color: antiquewhite;
}
.fondo {
    background-image: url("C:\Users\O23210\Downloads\examen Josue Flores Galindo\PW_2026-2_Ev01_B_recursos_alumnos\pregunta1\imagenes\banner.png");
}
.imagenes{
    display: flex;
    max-width: 100%;

    
}
.imagen1{
    padding: 10px 20px;

}

.imagen2{
    padding: 10px 20px;

}

.imagen3{
    padding: 10px 20px;

}
.imagen4{
    padding: 10px 20px;

}
.color{ 
    text-align: center;
    color: brown;
}

.color2{ 
    color: rgba(221, 181, 5, 0.966);
}
.color3{
    color: rgba(240, 255, 255, 0.644);
}
body{
    font-family:Arial, sans-serif;

}